/* :root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
} */

  body {
    margin: 30px;
    color: black;
  }

  table {
    border-collapse: collapse;
    width: 100%;
    margin: 20px 0;
  }

  .btn {
    margin: 20px 0;
    width: 150px;
  }

  .flex {
    display: flex;
  }

  .btn-frame {
    text-align: center;
  }

  .px-small {
    padding-left: 15px;
    padding-right: 15px;
  }

  .minute {
    width: 1px;
    height: 40px;
    display: inline-block;
    position: relative;
    vertical-align: middle;
    text-align: center;
  }

  .graph-wrapper {
    position: relative;
    height: 40px; /* minute heightに合わせる */
    width: 1020px; /* 1px * 1020minutes */
  }

  .minute.work {
    background-color: #4CAF50;
  }

  .minute.break {
    background-color: #FFC107;
  }

  .minute.none {
    background-color: #E0E0E0;
  }

  .timeline-layer,
  .graph-layer {
    position: absolute;
  }

  .timeline-layer .minute {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 1px;
    height: 40px; /* minute heightに合わせる */
  }

  .timeLineValue {
    font-size: 8px;
    background-color: gray;
    opacity: 0.15;
  }

  .timeClockValue {
    font-weight: bold;
    font-size: 10px;
  }

/* @media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */
